@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.icon {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    
    background: #242424;
}

.add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track-list {
    display: flex;
    flex-direction: column;
    
    gap: 32px;
    align-self: stretch;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 60px;

    background: #121212;
}

.text {
    padding: 28px;
    color: #FFF;

    font-feature-settings: 'clig' off, 'liga' off;
    
    font-size: 24px;
    font-weight: 500;
    line-height: 100%; /* 24px */
}



   







