@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.main_content {
    // display: inline;
    width: 1920px;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.header {
    // max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}

.header_title {
    color: #FFFEFE;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
}

.header_icons {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    width: 48px;
    height: 48px;
}

.playlist_list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 54px 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.library_content {
    display: grid;
    flex-direction: row;
    display: flex;
}


   







