@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.purchase-content {
    display: grid;
}

a {
    text-decoration: none;
}

.purchase-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 2px;
    border-bottom: 1px solid rgb(214, 185, 185);
    padding-bottom: 10px;
}

.purchase-item__block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-size: 16px;
    color: #808080;
    font-weight: 400;
    line-height: 150%;
}

.text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}



