@use '../../lib/service.scss' as s;

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);
    padding: 140px;
    

    &_title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: s.space(1);
        margin-bottom: s.space(10);
        color: blue;
       
    }

    &_content {
        display: grid;
        gap: s.space(6);
    }

    &_field {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
    }

    &_label {
        font-size: 14px;
    }

    &_input {
        border: 1px solid s.color('light');
        padding: s.space(2);
    }

    &_button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 6px;
        background-color: blue;
        color: white;
    }
}

.product-list {
    li {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

        display: flex;
        flex-direction: column;
    }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
    width: 225px;
    min-height: 150px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
  }

.card-title {
  font-size: 20px;
  font-weight: 500;
}  

.card_id {
  font-size: 20px;
  font-weight: 500;
  color: rgb(99, 95, 95);
}

.card-price {
  font-size: 20px;
  font-weight: 500;
}
  
