@use '../../lib/service.scss' as s;

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);
    padding: 140px;
    

    &_title {
        font-size: 30px;
        font-weight: bold;
        padding-bottom: s.space(1);
        margin-bottom: s.space(10);
        color: blue;
       
    }

    &_content {
        display: grid;
        gap: s.space(6);
    }

    &_field {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
    }

    &_label {
        font-size: 14px;
    }

    &_input {
        border: 1px solid s.color('light');
        padding: s.space(2);
    }

    &_button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 6px;
        background-color: blue;
        color: white;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
}

.product-list {
    li {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}