<div class='card'>
  <div class='card_content'>
    <label class='card_name'>{{name}}</label>
    <p class='card_description'>{{description}}</p>
    <div class='card_id'>ID: {{id}}</div>
    <div class='card_price'>{{price}}</div>
  </div>
</div>